<div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <% for (var i = 0; i < categorieen.length; i++) { %>
      <a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
    <% } %>
  </div>
</div>

<% include header %>

<form class="zoeken" method="get" action="/zoeken">
  <a class="boodschap" href="/zoeken"><label>zoek</label></a>
  <input class="zoekfunctie2" type="text" placeholder="zoekterm" id='zoekterm' name='zoekterm'>
</form>

  <% var teller = 1; %>
  <% tentoonstelling.forEach(function(item){ %>

    <section>
      <div class='categoriekader'>
        <%- item.categorieen %>
      </div>
        <h2>  <a class='wit' href=/items/<%- item.id %>><%- item.titel %></a> </h2>
        <div class="container">
          <img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>">
          <div class="overlay">
            <div class="text">
              <%- item.auteur %>
              <br>
              <%- item.datum %>
            </div>
          </div>
        </div>
        <p><%- item.samenvatting %></p>
    </section>
    <% teller++;}); %>
<% include footer %>
